In [17]:
#task 1
sample_dict={ 'emp1':{'name':'john','salary':7500}, 'emp2':{'name':'Emma','salary':8000}, 'emp3':{'name':'brad','salary':500}}
sample_dict['emp3']['salary']=8500
for x,y in sample_dict.items():
    print(x ,y)

emp1 {'name': 'john', 'salary': 7500}
emp2 {'name': 'Emma', 'salary': 8000}
emp3 {'name': 'brad', 'salary': 8500}

In [18]:
#task 2
sample_dict={'physics':82, 'maths':65,'history':75}
y=min(sample_dict,key=sample_dict.get)
print (y)

maths

In [4]:
#task 3
sample_dict={"name":"kelly", "age":25, "salary":8000,"city":"newyork"}
sample_dict['location']=sample_dict.pop('city')
for x,y in sample_dict.items():
    print(x,y)

name kelly
age 25
salary 8000
location newyork

In [30]:
#task 4
sample_dict={'a':100,'b':200,'c':300}
for x in sample_dict.values():
    if x==200:
        print('exists')

exists

In [31]:
#task 5
sample_dict={"name":"kelly", "age":25,"salary":8000,"city":"new york"}
del sample_dict["name"]
del sample_dict["salary"]

for x,y in sample_dict.items():
    print (x,y)

age 25
city new york

In [1]:
#task 6
students={}
for x in range (1,6):
    n=input('enter name : ')
    Id=input('enter roll no. :')
    gpa=float(input('enter gpa : '))
    students['Student '+str(x)]={"NAME":n,"ROLL NO":Id,"GPA":gpa }

find=input("Enter roll no. of the student : ")
for y in students.values():
    if y["ROLL NO"]==find:
        print("FOUND....\n")
        print(y)
        break

enter name : aaa
enter roll no. :101
enter gpa : 2.3
enter name : aab
enter roll no. :102
enter gpa : 3.0
enter name : aac
enter roll no. :103
enter gpa : 3.3
enter name : aad
enter roll no. :104
enter gpa : 2.5
enter name : aae
enter roll no. :105
enter gpa : 3.22
Enter roll no. of the student : 102
FOUND....

{'NAME': 'aab', 'ROLL NO': '102', 'GPA': 3.0}

In [14]:
#task 7
d={'Toyota':{'Car':'Supra','BHP':320}, 'Honda':{'Car':'S2000','BHP':240}, 'Nissan':{'Car':'Skyline R34','BHP':276}}
emp={}

print('Printing keys...')
for x in d.keys():
    emp=d[x]
    print(x)
    for k in emp.keys():
        print(k)
    
print('\nPrinting values...')
for y in d.keys():
    emp=d[y]
    for l in emp.keys():
        print(emp[l])
    
print('\nPrinting key-value pair...')
for z in d.keys():
    emp=d[z]
    print(z," ")
    for m in emp.keys():
        print(m," ",emp[m])

Printing keys...
Toyota
Car
BHP
Honda
Car
BHP
Nissan
Car
BHP

Printing values...
Supra
320
S2000
240
Skyline R34
276

Printing key-value pair...
Toyota
Car   Supra
BHP   320
Honda
Car   S2000
BHP   240
Nissan
Car   Skyline R34
BHP   276